div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
div {
    transition: all 400ms ease;
}
button:hover {
    background-color: black;
    color: #fff;
}
button {
    transition: all 400ms ease;
    animation: float 2s infinite alternate-reverse;
}
.nav__link {
    color: black;
}
.nav__link--active {
    font-weight: bold;
    color: purple;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}
