@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 56px 0;
}
.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
p {
    font-size: 20px;
    color: #7C8BA1;
}
img {
    width: 100%;
}
button {
    border: none;
}
.no-cursor {
    cursor: not-allowed;
}
.purple {
    color: #6415FF;
}
p {
    line-height: 1.5;
    text-align: left;
}
.flex {
    flex: 1;
}
/* NAV */
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.logo__btn {
    background-color: #6415FF;
    padding: 4px 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.logo__name {
    font-size: 28px;
    padding: 0 8px;
    font-weight: 700;
    transition: all 300ms ease;
}
.logo__name:hover {
    color: #6415FF;
}
.nav__links {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 55%;
}
.nav__link {
    color: #243E63;
    font-weight: 500;
    position: relative;
    transition: all 400ms ease;
}
.nav__effect::after {
    content: "";
    position: absolute;
    background-color: #6415FF;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 300ms ease;
}
.nav__effect:hover::after {
    opacity: 1;
}
.nav__link:hover {
    color: #6415FF;
}
.nav__user {
    padding-left: 8px;
}
.nav__btn {
    background-color: #6415FF;
    padding: 8px 28px;
    border-radius: 20px;
    color: #fff;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 500;
}
/* HEADER */
header {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
.header__row {
    display: flex;
    align-items: center;
    padding: 0 8px;   
}
.header__info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
}
.header__img--wrapper {
    display: flex;
    max-width: 60%;
}
.header__info--end-img {
    max-width: 350px;
}
.header__title {
    text-align: left;
}
.header__para {
    color: #242424;
}
.header__title {
    font-size: 48px;
}
.header__info--end {
    opacity: 0.5;
}
.header__end--para {
    font-weight: 400;
}
form {
    position: relative;
    width: 90%;
}
input {
    width: 100%;
    height: 70px;
    border-radius: 50px;
    padding: 0 8px;
    font-size: 18px;
    transition: all 300ms ease;
    border: 2px solid #24242423;
}
input:hover {
    border-color: #243E63;
}
input::placeholder{
    opacity: 0.6;
}
.header__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50px;
    padding: 18px 32px;
    transition: all 300ms ease;
}
.header__btn:hover, .quality__btn:hover {
    background-color: #3e1a87;
}

/* features */
.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 28px;
}
.section__title {
    color: #6415FF;
}
.section__sub-title {
    font-size: 56px;
    margin: 16px 0;
    font-weight: 500;
}
.section__para {
    text-align: center;
    color: #7C8BA1;
}
.pros {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
}
.pro {
    width: calc(100% / 3);
    display: flex;
    padding: 24px;
}
.pro__para {
    font-size: 18px;
    margin-top: 20px;
}
.feature__img {
    max-width: 25px;
}
.feature__img--wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.288);
    height: 70px;
    width: 180px;
    border-radius: 50%;
    margin-right: 8px;
}
.pro__wrapper {
    margin-left: 12px;
}

/* quality  */
#quality, #steps__section, #values {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quality__para {
    text-align: left;
    margin-bottom: 24px;
    font-size: 18px;
}
.quality__row {
    align-items: center;
}
.quality__row, .steps__row {
    display: flex;
    justify-content: center;
    padding: 24px 8px;
}
.quality__img--wrapper {
    display: flex;
    max-width: 50%;
}
.quality__info {
    width: 50%;
    padding: 12px;
}
.quality__btn {
    margin-left: 0;
    transition: all 300ms ease;
}

/* Steps */

.step {
    display: flex;
}
.steps {
    margin-top: 28px;
}
.step__wrapper {
    padding: 0 24px;
}
.step__number {
    font-size: 36px;
    color: #CBD5E0;
}
.step__info {
    margin-left: 24px;
    max-width: 60%;
}
.step__title {
    font-size: 20px;
}
.step__para {
    font-size: 16px;
    padding: 16px 0;
}

/* Values*/

