@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    width: 100%;
}
p {
    line-height: 1.5;
}
.purple {
    color: #7342d6;
}
button {
    cursor: pointer;
}
button:active {
    transform: translateY(1px);
}
.container {
    padding: 56px 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
.no-cursor {
    cursor: not-allowed;
}
/* NAV */
nav {
    height: 80px;
    display: flex;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
}
.logo {
    width: 160px;
}
.nav__link {
    margin-left: 16px;
    font-size: 20px;
    color: #7342d6;
    padding: 8px;
}
.nav__link:hover {
    text-decoration: underline ;
}
.nav__link--primary:hover {
    text-decoration: none;
}
.nav__link--primary {
    border: 2px solid;
    border-radius: 4px;
}
.btn__menu {
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: #7342d6;
}
.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    padding: 8px;
}
.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__list {
    padding: 32px 0;
}
.menu__link {
    color: white;
    font-size: 40px;
}
/* HEADER */
#landing {
    background-color: rgba(115, 66, 214, 0.1);
}
header {
    height: calc(100vh - 80px);
}
.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__img {
    max-width: 450px;
}
.header__img--wrapper {
    padding: 10px;
    z-index: 2;
}
h1 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 24px;
    color: #7342d6;
}
h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}
/* HIGHLIGHTS */
#highlights {
    position: relative;
}
#highlights::before, 
#highlights::after {
    background: url(assets/wave.svg);
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
}
#highlights::before {
    top: 1px;
    transform: translateY(-100%);
}
#highlights::after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}
.highlight__wrapper {
    display: flex;
    justify-content: center;
}
.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlight__para {
    text-align: center;
    max-width: 280px;
}
.highlight__img {
    border: 2px solid #7342d66e;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 32px;
    margin-bottom: 24px;
    color: #7342d6;
}
.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}
/* FEATURES */
#features {
    background-color: rgba(115, 66, 214, 0.1);
    padding-top: 8vw;
}
/* Featured */
.book__img {
    max-height: 380px;
}
.books {
    display: flex;
    flex-wrap: wrap;
}
.book {
    width: 25%;
    padding: 24px;
}
.book__img--wrapper {
    display: flex;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 300ms ease;
    cursor: not-allowed;
}
.book__img--wrapper:hover {
    transform: scale(1.03);
}
.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}
.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}
.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}
.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    opacity: 0.4;
}
/* Explore */
#explore {
    background-color: rgba(115, 66, 214, 0.1);
}
.explore__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    background-color: #242424;
}
.footer__logo {
    display: flex;
}
.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}
.footer__link,
.footer__copyright {
    color: #fff;
}
.footer__list {
    margin: 20px 0 24px 0;
    display: flex;
    justify-content: space-around;
}
.footer__link {
    padding: 0 8px;
}